.tempBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 5.5rem;
}

.tempBox img {
  height: auto;
}

.description {
  padding: 1rem 0;
  border-bottom: 1px solid #C6CAD3;
}

.locationBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.locationBox > p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}