.title {
  font-size: 1.5rem;
}

.tempBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3.5rem;
}
.tempBox img {
  height: auto;
}

.description {
  padding: 1rem 0;
  border-bottom: 1px solid #C6CAD3;
}

.locationBox {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}