.weahterContainer {
  width: 100%;
  min-height: 100vh;
  background: url(./assets/sky.jpg) no-repeat center / cover;
}
  
.main {
  display: grid;
  grid-template-columns: 360px minmax(0, 1fr);
  padding: 0 2rem 2rem 2rem;
  gap: 2rem;
  overflow-y: auto;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

