.weahterContainer {
  width: 100%;
  min-height: 100vh;
  background: url(./assets/sky.jpg) no-repeat center / cover;
}
  
.main {
  display: flex;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
  gap: 2rem;
}

.main .container:nth-of-type(1) {
  max-width: 350px;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}


